.css-input1 {
    padding: 5px;
    font-size: 13px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 13px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
    position:relative;
    left:90px
}



.css-input2 {
    padding: 5px;
    font-size: 13px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 13px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
    position:relative;
    top:40px;
    right:90px;
}



.css-input3 {
    padding: 5px;
    font-size: 13px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 13px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
    position:relative;
    top:200px;
    left:100px


  
}


.css-input4 {
    padding: 5px;
    font-size: 13px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 13px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
    position:relative;
    top:240px;
    right:80px


  
}

.css-input5{
    padding: 5px;
    font-size: 13px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 13px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
    position:relative;
    top:250px;
    left:90px


}


.css-input6 {
    padding: 5px;
    font-size: 13px;
    border-width: 1px;
    width:414px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 28px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
    position:relative;
    right:40px;
    top:6px
  

}




.btn1 {
    background: #3498db;
    font-family: Arial;
    border-radius: 28px;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    position:relative;
    top:281px;
    right:40px;
    width:90px;
    height:30px;
    
 
  }



  
  .btn1:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #a63cfd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }



  .btn2 {
    background: #3498db;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    position:relative;
    top:15px;
    right:135px;
    width:75px;
    height:30px;
    margin: 1px;
  }

  
  .btn2:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }



  .btn3 {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 40px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    position:relative;
    left:215px;
    bottom:23px;
    width:75px;
    height:30px
    
 
  }

  .btn3:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }




  .btn5 {
    background: #db3434;
    -moz-border-radius: 28;
    border-radius: 40px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    position:relative;
    left:330px;
    top:235px
    
 
  }

  .btn5:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }







  .btn4 {

    
  
  
    border-width:  40px;
    border-radius: 40px;
    font-family: Arial;
    color: #ff1c1c;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position:relative;
    left:25px;
    top:2px
 
  }



  
  .btn4:hover {
    background: #fd3c3c;
    background-image: -webkit-linear-gradient(top, #fd3c3c, #3498db);
    background-image: -moz-linear-gradient(top, #fd3c3c, #3498db);
    background-image: -ms-linear-gradient(top, #fd3c3c, #3498db);
    background-image: -o-linear-gradient(top, #fd3c3c, #3498db);
    background-image: linear-gradient(to bottom, #fd3c3c, #3498db);
    text-decoration: none;
  }



  .button{
      border-radius: 40px;
  }

Form Button {
    width: 100%;
}

h2 {
    color: #313131;
}

h6 {
    color: greenyellow;
}

hr.line {
    border: 1px solid #313131;
    width: 175px;
}

.app {
    margin: auto;
    padding-top: 40px;
    width: 950px;
    text-align: center;
}

.form {
    width: 400px;
    margin: auto;
}

.chat {
    display: grid;
    height:30px;
    width:500px;
    position:relative;
    left: 240px;

}

.leave-chat {
    text-align: right;
    margin-bottom: 4px;
    position:relative;
    right:70px;
    top:243.3px;
    border-collapse: separate;
    border-radius:1000px;
    border-width: 100;


}

.user-list {
    float: left;
    background-color: #313131;
    color:white;
    width: 200px;
    height: 440px;
    margin-right: 4px;
}

.message-box {
    height: 200px;
    background-color: rgba(231, 26, 26, 0.459);
    overflow: auto;
    border-radius: 5px;
    margin-bottom: 2px;
}

.user-message {
    text-align: right;
    padding-right: 5px;
    font-size: 18px;
}

.message {
    display: inline-flex;
    margin: 0px auto 0px auto;
    padding: 5px;
    font-size: 18px;
    color:white;
    border-radius: 20px;
    margin-top: 3px;
}

.from-user {
    font-size: small;
    margin-bottom: 3px;
    margin-right: 5px;
}